<mat-form-field [formGroup]="formGroup" appearance="outline" class="full-width">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    type="tel"
    [placeholder]="placeholder"
    [formControlName]="controlName"
    [required]="isRequired"
    maxlength="15"
    autocomplete="tel"
  />
  <mat-icon matPrefix>phone</mat-icon>
  <mat-error *ngIf="control?.hasError('required')">Phone number is required</mat-error>
  <mat-error *ngIf="control?.hasError('invalidPhone')">Please enter a valid phone number</mat-error>
  <mat-error *ngIf="control?.hasError('phoneTooShort')">Phone number is too short</mat-error>
  <mat-error *ngIf="control?.hasError('phoneTooLong')">Phone number is too long</mat-error>
</mat-form-field>
