<mat-form-field [formGroup]="formGroup" appearance="outline" class="full-width">
  <mat-label>{{ label }}</mat-label>
  <mat-icon *ngIf="icon" matIconPrefix>{{ icon }}</mat-icon>
  <mat-select
    [placeholder]="placeholder"
    [formControlName]="controlName"
    [required]="isRequired"
    (selectionChange)="onSelectionChange($event.value)"
  >
    <mat-option *ngFor="let option of resolvedOptions" [value]="option.value">
      {{ option.label }}
    </mat-option>
  </mat-select>
  <mat-spinner *ngIf="isLoading" matSuffix diameter="20"></mat-spinner>
  <mat-error *ngIf="control?.hasError('required')">This field is required</mat-error>
</mat-form-field>
