<mat-form-field appearance="outline" class="full-width" [formGroup]="formGroup">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    type="number"
    [placeholder]="placeholder"
    [formControlName]="controlName"
    [required]="isRequired"
    [min]="min"
    [max]="max"
    [step]="step"
  />
  <mat-icon *ngIf="icon" matPrefix>{{ icon }}</mat-icon>
  <mat-error *ngIf="control?.hasError('required')">This field is required</mat-error>
  <mat-error *ngIf="control?.hasError('min')">Value is too small</mat-error>
  <mat-error *ngIf="control?.hasError('max')">Value is too large</mat-error>
  <mat-error *ngIf="control?.hasError('pattern')">Invalid number format</mat-error>
</mat-form-field>
