<mat-form-field [formGroup]="formGroup" appearance="outline" class="full-width">
  <mat-label>{{ label }}</mat-label>
  <mat-icon *ngIf="icon" matIconPrefix>{{ icon }}</mat-icon>
  <textarea
    matInput
    [placeholder]="placeholder"
    [formControlName]="controlName"
    [required]="isRequired"
    [rows]="rows"
  ></textarea>
  <mat-error *ngIf="control?.hasError('required')">This field is required</mat-error>
  <mat-error *ngIf="control?.hasError('minlength')">Text is too short</mat-error>
  <mat-error *ngIf="control?.hasError('maxlength')">Text is too long</mat-error>
</mat-form-field>
